<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
<section id="header">
    <div class="container col-xxl-8 px-4 py-5 text-center">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div>
                <h1 class="display-5 fw-bold lh-1 mb-3 platypi-medium">Blog</h1>
                <p class="lead jaro-normal">A place to write and post to your heart's content</p>
            </div>
        </div>
    </div>
</section>

<section id="blog-body">
    <div class="container py-3 text-center">
        <h2 class="platypi-medium">Blog Posts</h2>